<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Cadastrar</title>
</head>
<body>
    <h1>cadastrar</h1>
    <form action="/cadastrar" method="post">
        <label for="nome">nome:</label>
        <input type="text" name="nome" id="nome_inp">
        <label for="email">email:</label>
        <input type="email" name="email" id="email_inp">
        <label for="senha">senha:</label>
        <input type="password" name="senha" id="senha_inp">
        <button type="submit">cadastrar</button>
    </form>
</body>
</html>